name: Lab1 Testing with Pytest

on:
  push:
    paths:
      - 'lab1/**'
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      
      - name: Run Tests and Generate XML Report
        run: |
          cd lab1
          pytest test/test_pytest.py -v --junitxml=pytest-report.xml
        continue-on-error: false
      
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: lab1/pytest-report.xml
      
      - name: Notify on Success
        if: success()
        run: echo "Pytest tests passed successfully!"
      
      - name: Notify on Failure
        if: failure()
        run: echo "Pytest tests failed!"
