name: Lab1 Python Unittests

on:
  push:
    paths:
      - 'lab1/**'
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r lab1/requirements.txt
      
      - name: Run Unittests
        run: |
          cd lab1
          python -m unittest test.test_unittest -v
      
      - name: Notify on Success
        if: success()
        run: echo "Unit tests passed successfully!"
      
      - name: Notify on Failure
        if: failure()
        run: echo "Unit tests failed!"

